<%= flash[:notice] %>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Email</th>
			<th>City</th>
			<th>Address</th>
			<th>Tel</th>
			<th>Fax</th>
		</tr>
	</thead>
	<tbody>
		<% @emails.each do |email| %>
			<tr>
				<td><%= email.title %></td>
				<td><%= email.lastname %></td>
				<td><%= email.firstname %></td>
				<td><%= email.email %></td>
				<td><%= email.city %></td>
				<td><%= email.address %></td>
				<td><%= email.tel %></td>
				<td><%= email.fax %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div>
	<h3>Import lawyers csv</h3>
	<%= form_tag emails_import_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import CSV" %>
	<% end %>
</div>